<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home_page</h1>
    {% for a in ahsan %}
    My name is : {{a.username}} <a href="{% url 'profile' a.id %}">Update</a> <a href="{% url 'delete' a.id %}">delete</a><br>
    {% endfor %}
    {% for a in ahsan %}
    {{a.my_name}} <br>{{a.city}}
    {% endfor %}
    <a href="{% url 'signup'%}">signup</a>
    <a href="{% url 'logout'%}">logout</a>
</body>
</html>